.user-details
  .users-detail-profile-box
    .users-detail-photo_box
    .users-detail-photo
      %img{ :src => 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuJtcUUrzTJZ_PBWmAtht6fnnUYALZ06rd_jNcyT7aIt1FkoG0', :class => 'user_profile_image'}
    %h2 テスト
  .white
    .users-detail-ratings-box
      %i.fas.fa-laugh.fa-2x
      114
      %i.fas.fa-meh.fa-2x
      3
      %i.fas.fa-frown.fa-2x
      1

    .users-detail-description_box
      ここはコメントここはコメントここはコメントここはコメント
  .item-social-media-box
    %i.fab.fa-facebook.fa-3x
    %i.fab.fa-twitter-square.fa-3x
    %i.fab.fa-line.fa-3x
