.user-details
  .users-detail
    .users-detail__photo
      %img{ :src => 'https://public.potaufeu.asahi.com/4e91-p/picture/13545647/061f1eeff8bb2432950152393bddf7cb.jpg', :class => 'users-detail__photo__image'}
    %a テスト
    .users-detail__score
      %span 評価144
      %span 出品数222
  .white
    .users-detail__rating
      .users-detail__rating__list
        %i.fas.fa-laugh
        %span 114
      .users-detail__rating__list
        %i.fas.fa-meh
        %span 3
      .users-detail__rating__list
        %i.fas.fa-frown
        %span 1
    .users-detail__description
      ここはコメントここはコメントここはコメントここはコメントここはコメントここはコメントここはコメントここはコメント
  .item-social-media-box
    %i.fab.fa-facebook.fa-3x
    %i.fab.fa-twitter-square.fa-3x
    %i.fab.fa-line.fa-3x
