.item-details {
  padding: 24px 40px 40px;
  &__name {
    text-align: center;
    margin-bottom: 16px;
  }

  &__main {
    line-height: 0;
    // img同士の縦にある隙間を消す
    &__photo {
      width: 300px;
      min-height: 375px;
      &__top {
        &__image {
          width: 300px;
          height: 300px;
          object-fit: cover;
        }
      }
      &__sub {
        letter-spacing: -0.4em;
        // img同士の横にある隙間を消す
        &__image {
          width: 75px;
        height: 75px;
        object-fit: cover;
        }
      }
    }

  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__main {
      font-size: 50px;
      margin-right: 16px;
    }
    &__tax {
      font-size: 10px;
      margin-right: 3px;
    }
    &__shipping-fee {
      font-size: 16px;
    }
  }
  &__description {
    font-size: 18px;
  }
}
