@mixin clearfix {
    clear: both;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  @mixin bold {
    font-weight: 600;
  }
  @mixin form-container {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
  }
  @mixin form-box {
    float: right;
    width: 400px;
    margin: 0;
  }
  @mixin btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }