.picup-container {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 25px 0;
}
h2.picup-container-header{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
a.picup-container__name{
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 25px;
  color: #3399FF;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.picup-container__item{
  width: 1008px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.item-box {
  background-color: white;
  width: 228px;
  margin-bottom: 20px;
  // margin-right: 20px;
  display: inline-block;
  &__image {
    height: 200px;
    width: 228px;
    object-fit: cover;
  }
  &__name {
    margin: 10px 15px;
  }
  &__price {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
  }
  &__tax {
    font-size: 10px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
  }
}
a.picup-container__last{
  text-decoration: none;
  font-size: 15px;
  color: #3399FF;
  display: block;
  text-align: right;
  margin-top: 15px;
  padding-right: 16px;
}
