.sign-in-page{
  background-color: #EEEEEE;
  height: 100%;
  width: 100%;
}
.sign-in-main{
  position: relative;
}
.new-user-registration-a{
  text-decoration: none;
  color: white;
}
.sign-in-content{
  background-color: white;
  width: 456px;
  height: 731px;
  margin: 0 auto;
  &__registration{
    font-size: 14px;
    text-align: center;
    padding: 40px 0;
  }
  &__a {
    background-color: #3399FF;
    width: 320px;
    margin: 0 auto;
    margin-top: 8px;
    padding: 10px 0;
  }
  &__sub{
    padding-top: 20px;
  }
  &__main{
    width: 320px;
    margin: 0 auto;
    font-size: 12px;
  }
}
.new_user{
  margin: 0 auto;
  position: absolute;
  top: 43%;
  right: 38.8%;
}
input#user_email{
  height: 48px;
  width: 320px;
}
input#user_password{
  height: 48px;
  width: 320px;
}
input[type="submit"]{
  width: 320px;
  padding: 19px;
  background-color: red;
  margin: 24px 0;
  color: white;
}
.password-more{
  position: absolute;
  bottom: 4%;
  left: 38.8%;
  color: #3399FF;
  text-decoration: none;
  font-size: 14px;
}


