.registration-main{
  height: 100%;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  &__form{
   margin: 0 auto;
   width: 50%;
   height: 100%;
   padding-bottom: 5%;
   margin-top: 9%;
  }
}
h2{
  text-align: center;
  padding: 5% 0;
}
.form-require{
  background-color: red;
  color: white;
  margin: 0 0 0 2%;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}
input#user_nickname{
  height: 48px;
  width: 320px;
  margin-top: 5px;
}
input#user_password_confirmation{
  height: 48px;
  width: 320px;
  margin-top: 5px;
}
input#user_address_first_name{
  height: 48px;
  width: 320px;
  margin-top: 5px;
}
input#user_address_last_name{
  height: 48px;
  width: 320px;
  margin-top: 5px;
}
input#user_address_first_name_phon{
  height: 48px;
  width: 320px;
  margin-top: 5px;
}
input#user_address_last_name_phon{
  height: 48px;
  width: 320px;
  margin-top: 5px;
}
select.date-select-birthday{
  height: 48px;
  width: 320px;
  margin-top: 10px;
  background-color: white;
}
label{
  font-weight: bold;
  font-size: 14px;

}
.sign-up-form{
  margin-top: 10%;
  &__address{
    margin-top: 10%;
  }
}
input::placeholder{
  font-size: 16px;
}
.registration-message{
  font-size: 14px;
  &__two{
  color: #888;
  margin-top: 3%;
  }
  &__fore{
  text-align: right;
  }
}
.term_of-service{
  text-decoration: none;
  color: #3399FF;
}
.about-private-registration{
  text-decoration: none;
  color: #3399FF;
}
