.clearfix{
    clear: both;
}
//header
.l-single-container {
    background: #fff;
    width: 700px;
    margin: 0 auto;
}
.l-single-head {
    padding: 24px 8px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
}
@media screen and (min-width: 768px){
.l-single-head {
    padding: 32px 16px;
    font-size: 22px;
}
}
//入力フォーム
//出品画像
.sell-form{
border-top: 1px solid #eee;
}
.sell-upload-box {
width: 620px;
padding: 40px;
p{
    margin: 8px 0 0;
    line-height: 1.5;
    }
}
.sell-upload-head {
    font-size: 16px;
}
.form-require{
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
}
.sell-content{
    padding: 40px;
    border-top: 1px solid #eee;
}
.form-group {
    margin: 40px 0 0;
    padding-right: 30px;
    label{
        font-weight: 600;
            display: inline-block;
    }
    &:first-child{
        margin: 0;
    }
    .input-default{
        width: 100px;
        margin: 8px 0 0;
    }
    select{
        width: 100%;
    }
}
//商品名
.input-default{
padding: 10px 16px 8px;
border-radius: 4px;
border: 1px solid #ccc;
background: #fff;
line-height: 1.5;
font-size: 16px;
}
//商品の説明
.textarea-default{
    margin: 8px 0 0;
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;

}
.sell-sub-head{
    float: left;
    color: #888;
    font-size: 14px;
}
.sell-form-box {
    float: right;
    width: 400px;
    margin: 0;
}
.select-wrap {
    position: relative;
    background: #fff;
    margin: 8px 0 0;
    width: 400px;
    i{
    position: absolute;
    top: 10px;
    right: 10px;
    }
    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }     
      select::-ms-expand {
        display: none;
    }
    .fa-angle-down{
        color: #888;
    }
}
.select-default {
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.form-question{ 
text-decoration: none;   
display: inline-block;
width: 14px;
height: 14px;
border-radius: 50%;
background: #0099e8;
color: #fff;
line-height: 14px;
font-size: 12px;
text-align: center;
}
//販売価格
.sell-price{
    list-style: none;
    
    .form-group{
    }
    &>li {
        padding: 10px 0;
        border-top: 1px solid #ccc;
    }
    &>li:first-child {
        padding: 0 0 24px;
        border: 0;
    }
}
.sell-price-input{
    text-align: right;
    width: 50%;
}
.l-left{
    float: left;
    width: 50%;
    line-height: 48px;
}
.l-right{
    float: right;
    width: 50%;
}