
.top-main-vidual{
  height: 390px;
  background-color: #FFDEAD;
  width: 100%;
  position: relative;
  &__three{
   background-image: url('/life-pictuer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  }
  &__store{
    margin-top: 25px;
  }
  &__two{
    background-color: rgb(300, 66, 0);
  }
  &__content{
    position: absolute;
    margin-top: 10px;
    right: 50%;
  }
  &__right{
    height: 390px;
    position: absolute;
    left: 50%;
  }
  &__image{
    height: 390px;
    margin: 0 auto;
  }
}
h2.top-main-vidual-h{
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 15px;
  line-height: 130%;
  margin-top: 25px;
}
p.top-main-vidual-p{
  font-size: 20px;
  line-height: 140%;
}

