.default-container {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 25px 0;
}

.user-details {
  margin: auto;
  max-width: 700px;
}

.users-detail {
  text-align: center;
  height: 325px;
  background-image: url("https://www.mercari.com/jp/assets/img/user/user_bg.jpg?52889117");
  &__photo__image {
      margin-top: 50px;
  width: 190px;
  height: 190px;
  border-radius: 95px;
  object-fit: cover;
  }
  &__score {
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    span {
      padding: 0 20px;
    }
  }
}


.users-detail-profile-box__rate {
  display: frex;
}

.white {
  background-color: white;
}

.users-detail-ratings-box {
  border-bottom: solid 1.5px #EEEEEE;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.users-detail-rating {
  padding: 0 30px;
  font-size: 14px;
  font-weight: bold;
}

.fas.fa-laugh {
  font-size: 25px;
  color: #EF5185;
  padding-right: 30px;
}

.fas.fa-meh{
  font-size: 25px;
  color: #FBB046;
  padding-right: 30px;
}

.fas.fa-frown {
  font-size: 25px;
  color: #6AB5D8;
  padding-right: 30px;
}



.item-social-media-box {
  background-color: white;
  text-align: center;
}



.fab.fa-facebook {
  color: #3b5998;

}
.fab.fa-twitter-square {
  color: #00aced;
  margin: 10px;
}
 .fab.fa-line{
  color: #00c300;
}


.users-detail-description_box {
  padding: 30px 50px 60px 50px;
}
