%main.single-main
  %section.single-container
    .buy-container
      %h2.single-container__head
        購入を確定しますか？
      %section.buy-content
        .buy-content__inner
          %h3.buy-content__item-image.buy-item
            = image_tag "https://static.mercdn.net/thumb/photos/m82884941197_1.jpg?1541928495"
            %p.buy-content__item-name.bold
              Cisco ASA(5505) 、CD等の付属品アリ
            = form_with url:root_path, class:"buy-content__form" ,local:true do |f|
              //金額もサーバーサイドができたら反映させる
              .buy-content__price-ja.bold
                ¥ 25,000
                %span.buy-content__shipping-fee.bold
                  送料込み
              //サーバサイドができたらポイントの有無で条件分岐させる
              %ul.buy-content__point.not-have
                .buy-content__point_parent
                  .buy-content__point_parent-toggle
                    ポイントはありません
              //hidden属性で商品情報データを埋め込みpostする
              %ul.buy-content__price-table
                %li.buy-content__price-row.bold
                  .buy-content__price-cell
                    支払い金額
                  .buy-content__price-cell 
                    17,800   
              = button_tag "購入する",class:"btn-default btn-red bold"
      %section.buy-content.buy-content__user-info
        .buy-content__inner.h3
          %h3 配送先
          %address.buy-content__user-info-text
            〒231-0023
            %br
            神奈川県 横浜市中区
            山下町247-2
            武内ビル 503
            %br
            林 悠暉
          %p.buy-content__user-info-text
          = link_to "https://www.mercari.com/jp/transaction/address/m33016370175/",class:"buy-content__user-info-fix" do 
            変更する
            %i.fa.fa-angle-right
      %section.buy-content.buy-content__user-info 


      
