%main.single-main
  %section.single-container
    .buy-container
      %h2.single-container__head
        購入を確定しますか？
      %section.buy-content
        .buy-content__inner
          %h3.buy-content__item-image
            = image_tag "https://static.mercdn.net/thumb/photos/m73258645677_1.jpg?1553664905"
        