.items-box-container
  .item-details
    .item-details__name
      %h1 カーディガン
    .item-details__main
      .item-details__main__photo
        .item-details__main__photo__top
          %img{ :src => 'https://public.potaufeu.asahi.com/4e91-p/picture/13545647/061f1eeff8bb2432950152393bddf7cb.jpg', :class => 'item-details__main__photo__top__image'}
        .item-details__main__photo__sub
          %img{ :src => 'https://public.potaufeu.asahi.com/4e91-p/picture/13545647/061f1eeff8bb2432950152393bddf7cb.jpg', :class => 'item-details__main__photo__sub__image'}
          %img{ :src => 'https://public.potaufeu.asahi.com/4e91-p/picture/13545647/061f1eeff8bb2432950152393bddf7cb.jpg', :class => 'item-details__main__photo__sub__image'}
          %img{ :src => 'https://public.potaufeu.asahi.com/4e91-p/picture/13545647/061f1eeff8bb2432950152393bddf7cb.jpg', :class => 'item-details__main__photo__sub__image'}
          %img{ :src => 'https://public.potaufeu.asahi.com/4e91-p/picture/13545647/061f1eeff8bb2432950152393bddf7cb.jpg', :class => 'item-details__main__photo__sub__image'}
      .item-details__main__detail-table
    .item-details__price
      .item-details__price__main
        ¥500
      .item-details__price__tax
        (税込)
      .item-details__price__shipping-fee
        送料込み
    .item-details__description
      %p 商品の説明はありません
    .item-details__button

