.items-box-container
  .item-details
    .item-details__name
      カーディガン
    .item-details__main
    .item-details__price
      ¥500 (税込)送料込み
    .item-details__description
      商品の説明はありません
    .item-details__buttons
