.items-box-container
  .item-details
    .item-details__name
      %h1 カーディガン
    .item-details__main
    .item-details__price
      .item-details__price__main
        ¥500
      .item-details__price__tax
        (税込)
      .item-details__price__shipping-fee
        送料込み
    .item-details__description
      %p 商品の説明はありません
    .item-details__button

