.item-detail-message
  .masseges
    .other-massege
      .other-massege__icon
        =link_to do
          %img{ :src => 'https://public.potaufeu.asahi.com/4e91-p/picture/13545647/061f1eeff8bb2432950152393bddf7cb.jpg', :class => 'other-massege__icon__image'}
          %p 出品者
      .other-massege__right
        .other-massege__right__name
          若林正恭
        .other-massege__right__box
          .other-massege__right__box__text
            こんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわ
          .other-massege__right__box__bottom
            .other-massege__right__box__bottom__date
              .far.fa-clock
              130日前
            .other-massege__right__box__bottom__flag
              = link_to do
                .far.fa-flag

    .my-massege
      .my-massege__icon
        =link_to do
          %img{ :src => 'https://public.potaufeu.asahi.com/4e91-p/picture/13545647/061f1eeff8bb2432950152393bddf7cb.jpg', :class => 'other-massege__icon__image'}
          %p 出品者
      .my-massege__left
        .my-massege__right__name
          若林正恭
        .my-massege__right__box
          .my-massege__right__box__text
            こんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわこんちわ
          .my-massege__right__box__bottom
            .my-massege__right__box__bottom__date
              .far.fa-clock
              130日前
            .my-massege__right__box__bottom__dustbox
              = link_to do
                .fa.fa-trash-alt

  .item-detail-message__attention
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .item-detail-message__input
    %textarea
  .item-detail-message__btn
    %button コメントする

