.picup-container
  %h2.picup-container-header
    ピックアップカテゴリー
  .picup-container__item
    %a{ :href => '', :class => 'picup-container__name'}
      レディース新着アイテム
    = render "item"
    %a{ :href => '', :class => 'picup-container__last'}
      すべての商品を見る
  .picup-container__item
    %a{ :href => '', :class => 'picup-container__name'}
      レディース新着アイテム
    = render "item"
    %a{ :href => '', :class => 'picup-container__last'}
      すべての商品を見る
