.items-box-container
  .sell-item-change-box
    %button.sell-item-change-box__btn-red
      商品の編集
    %p.sell-item-change-box__text
      or
    %button.sell-item-change-box__btn-gray
      出品を一旦停止する
    %button.sell-item-change-box__btn-gray
      この商品を削除する
