%main.single-main
  %section.l-single-container.buy-item-container
    .div#sell-container
      .sell-container-inner
        %h2.l-single-head 
          商品の情報を入力
        %form.sell-form  
          .sell-upload-box
            %h3.sell-upload-head
              出品画像
              %span.form-require
                必須
            %p 最大10枚までアップロードできます         
          .sell-content
          .sell-content.clearfix
          .sell-content.clearfix  
          .sell-content.clearfix