.slick
  .top-main-vidual
    .top-main-vidual__one
      .top-main-vidual__content
        %h2.top-main-vidual-h
          スマホでかんたん
          %br
          フリマアプリ
        %p.top-main-vidual-p
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自アプリです
        .top-main-vidual__store
          %a{ :href => 'https://www.apple.com/jp/ios/app-store/', :class => 'pull-left'}
            %img{ :src => 'app-store.svg'}
          %a{ :href => 'https://play.google.com/store?hl=ja', :class => 'pull-left'}
            %img{ :src => 'google-play.svg'}
      %img{ :src => 'top-main-vidual-content-right.png', :class => 'top-main-vidual__right'}
  .top-main-vidual
    .top-main-vidual__two
      %img{ :src => 'mercari0309.jpg', :class => 'top-main-vidual__image'}
  .top-main-vidual
    .top-main-vidual__three
      %img{ :src => 'merukari-old.png', :class => 'top-main-vidual__image'}
  / #arrows
  /   .slick-prev
  /     %img{:src => 'slick-prev.png', :class => 'slide-prev'}
  /   .slick-next
  /     %img{:src => 'slick-next.png', :class => 'slide-next'}
