.top-main-vidual
  .top-main-vidual__content
    %h2.top-main-vidual-h
      スマホでかんたん
      %br
      フリマアプリ
    %p.top-main-vidual-p
      メルカリはスマホカメラからすぐに出品できる
      %br
      購入時も安心な独自アプリです
    .top-main-vidual__store
      %a{ :href => 'https://www.apple.com/jp/ios/app-store/', :class => 'pull-left'}
        %img{ :src => 'app-store.svg'}
      %a{ :href => 'https://play.google.com/store?hl=ja', :class => 'pull-left'}
        %img{ :src => 'google-play.svg'}
  %img{ :src => 'top-main-vidual-content-right.png', :class => 'top-main-vidual__right'}

