.default-container
  = render 'item-details'

  = render 'item-detail-message'

  / = render 'nav-item-link-prev-next'

  = render partial:'users/social-media-box'

  / = render 'items-in-user-profile'
