.sign-up-header
  = image_tag '/mercari-sign-up.svg', class: 'mercari-sign-up'
%nav.progress-bar
  %hr.circle__border
  %ol.progress-bar__ol
    %li.progress-bar__li.active
      会員情報
      .circle__active
    %li.progress-bar__li.noactive
      電話番号認証
      .circle__noactive
    %li.progress-bar__li.noactive
      お届け先住所入力
      .circle__noactive
    %li.progress-bar__li.noactive
      支払い方法
      .circle__noactive
    %li.progress-bar__li.noactive
      完了
      .circle__noactive
