/ %h2 Sign up
/ = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
/   = devise_error_messages!
/   .field
/     = f.label :email
/     %br/
/     = f.email_field :email, autofocus: true, autocomplete: "email"
/   .field
/     = f.label :password
/     - if @minimum_password_length
/       %em
/         (#{@minimum_password_length} characters minimum)
/     %br/
/     = f.password_field :password, autocomplete: "new-password"
/   .field
/     = f.label :password_confirmation
/     %br/
/     = f.password_field :password_confirmation, autocomplete: "new-password"
/   .actions
/     = f.submit "Sign up"
/ = render "users/shared/links"
.sign-up-page
  .sign-up-header
    %img{ :src => '/mercari-sign-up.svg', :class => 'mercari-sign-up'}
  .single-main
    .single-content
      .single-content__header
        新規会員登録
      %hr
      .single-content__message
        .single-content__mail
          %i{ :class => "fas fa-envelope fa-2x"}
          %a{ :href => '', :class => "mercari-registration"}
            .single-content__one
              メールアドレスで登録
      .single-content__message
        .single-content__facebook
          %img{ :src => '/flogo-RGB-HEX-Blk-512.png', :class => "facebook-img"}
          .single-content__two
            Facebookで登録
      .single-content__message
        .single-content__google
          %img{ :src => '/google.png', :class => "google-img"}
          .single-content__three
            Googleで登録
  .sign-up-footer
    %ul.sign-up-footer__ul
      %a{ :href => "", :class => "sign-up-footer__a"}
        %li.sign-up-footer__li
          プライバシーポリシー
      %a{ :href => "", :class => "sign-up-footer__a"}
        %li.sign-up-footer__li
          メルカリ利用規約
      %a{ :href => "", :class => "sign-up-footer__a"}
        %li.sign-up-footer__li
          特定商取引に関する表記
    .sign-up-footer__img
      %img{ :src => "/mercari-sign-up-gray.svg", :class => "mercari-sign-up-gray"}
    .sign-up-footer__last
      © 2019 Mercari

